@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
	--padding: 1rem;

	--black: #32161f;
	--white: #f8f8f8;
	--yellow: #f7ee7f;
	--green: #87d68d;

	--default-background: #bcd3f2;
	--headers: #201e50;
	--default-text: var(--black);
	--default-font: "Kanit", sans-serif;

	--header-background: #80a4ed;

	--main-menu-background: var(--black); 
	--main-menu-text: var(--white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--default-text);
	background: var(--default-background);
	font-family: var(--default-font);
}

header {
	background: var(--header-background);
	color: var(--default-text);
	padding: var(--padding);
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

header h1 {
	width: 60rem;
	max-width: 100%;
	margin: auto;
	padding: 0 var(--padding);
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--headers);
}

h2 {
	color: var(--headers);
	margin-top: 1.5rem;
}

.front-page-info {
	text-align: center;
	margin-bottom: 2rem;
}

.front-page .buttons button {
	font: inherit;
	padding: .5rem;
	border-radius: .5rem;
}
@media screen and (min-width: 800px) {
	.front-page .buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

a {
	color: var(--default-text);
}


main {
	width: 60rem;
	max-width: 100%;
	margin: 0 auto;
	padding: var(--padding);
}


/*

.main-menu {
	background: var(--main-menu-background);
	color: var(--main-menu-text);
}

.hidden {
	display: none;
}

.main-menu ul {
	list-style-type: none;
}

.main-menu li {
	padding: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.main-menu a {
	color: var(--white);
}

.menu-button {
	display: block;
	width: 100%;
	color: var(--white);
	background: var(--black);
	padding: 1rem;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: var(--default-font);
	border: none;
}

.hide-menu button {
	color: var(--white);
	background: var(--black);
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: var(--default-font);
	text-decoration: underline;
	border: none;
}

.menu-button.hidden {
	display: none;
}

.front-page p {
	margin-bottom: 3rem;
}

.wrapper > section {
	padding: var(--padding);
	margin-bottom: 2rem;
}

.tracery-input textarea {
	display: block;
	width: 100%;
	height: 15rem;
	color: var(--default-text);
	padding: .5rem;
	resize: vertical;
}

.main-content > section {
	margin-bottom: 2rem;
}

main button {
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
	margin-top: var(--padding);
	background: var(--green);
}

.result-box .article-wrapper {
	margin-bottom: var(--padding);
}

.result-box .article-meta {
	text-align: right;
	font-size: .8rem;
	font-style: italic;
	margin-top: .2rem;
	margin-right: var(--padding);
}

.result-box article {
	background: var(--yellow);
	color: var(--black);
	padding: var(--padding);
	border: solid 1px #808080;
	border-radius: var(--padding);
	white-space: pre-wrap;
}

dialog {
	margin: auto;
	min-width: 50%;
	padding: 1rem;
	background: var(--yellow);
	color: var(--black);
	border: none;
	box-shadow: 1rem 1rem 1rem var(--black);
	border-radius: var(--padding);
}

h2 {
	margin-bottom: var(--padding);
}

button {
	display: block;
	background: var(--green);

}

.person {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.person .avatar {
	width: 7rem;
}

.person .avatar img {
	display: block;
	width: 7rem;
	height: 7rem;
	border: solid 1px #666666;
	border-radius: .5rem;
	
}

.person .main-part {
	flex-grow: 1;
}

.person .main-part h2, .person .main-part p {
	margin-bottom: .5rem;
}
.person .follow-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.person .followers {
	font-style: italic;
}

.load-posts {
	text-align: center;
	font-weight: bold;
	line-height: 2rem;
	animation-name: pulsate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pulsate {
	0% {font-size: .8rem;}
	50% {font-size: 1.2rem;}
	100% {font-size: .8rem;}
}

.floff {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	padding: 1rem;
}

.floff .reply-to {
	font-size: .8rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.floff-header {
	margin-bottom: 1rem;
}

.floff-author {
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.floff-author .floff-handle {
	font-size: .9rem;
	font-weight: normal;
	font-style: italic;
}

.floff .text {
	white-space: pre-wrap;
}

.floff-linkcard {
	border: solid 1px var(--black);
	margin-top: 2rem;
	width: 100%;
	max-width: 100%;
	border-bottom-left-radius: 1rem; 
	border-bottom-right-radius: 1rem; 
}

.floff-linkcard .thumb {
	display: block;
	height: 6rem;
	width: 100%;
	object-fit: cover;
}

.floff-linkcard .linkcard-main-part {
	padding: 1rem;
}

.floff-linkcard .linkcard-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}

.floff-linkcard .linkcard-desc {
	font-size: .9rem;
}

.floff-images {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	width: 100%;
	justify-content: center;
}

.floff-images a {
	display: block;
	flex-grow: 1;
	text-align: center;
}

.floff-images img {
	display: block;
	max-width: 100%;
	max-height: 25rem;
	margin: auto;
	border: solid 1px var(--black);
}

.floff .floff {
	background: var(--yellow);
	font-size: .9rem;
	margin-top: 2rem;
	box-shadow: .5rem .5rem .5rem var(--black);
}

.floff .floff .meta-buttons, .floff .floff .floff-images, .floff .floff .floff-linkcard {
	display: none;
}

.floff .floff-date, .floff .floff-date a {
	font-style: italic;
	font-weight: bold;
	font-size: .9rem;
	margin-bottom: .5rem;
}

.floff .meta-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	gap: 1rem; 
}

.floff .meta-buttons > div {
	flex: 1 0 auto;
	text-align: center;
}

.floff .meta-buttons button {
	width: initial;
	margin: auto;
	margin-top: .5rem;
	border-radius: .5rem;
}

footer {
	width: 60rem;
	max-width: 100%;
	margin: auto;
	padding: 3rem var(--padding) 1rem;
	text-align: center;
}

footer a {
	display: block;
}

dialog label, .favstar-input label {
	display: block;
	margin-bottom: .5rem;
}

input, select {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
}

dialog button, .favstar-input button {
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
}

.error {
	font-weight: bold;
	text-align: center;
	color: #aa0000;
}

@media screen and (min-width: 800px) {
	.main-menu {
		display: block;
		background: var(--main-menu-background);
		color: var(--main-menu-text);
	}

	.main-menu ul {
		display: flex;	
	}

	.menu-button, .hide-menu {
		display: none;
	}

	.floff-header {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.floff-linkcard {
		display: flex;
		border-top-right-radius: 1rem; 
		border-bottom-right-radius: 1rem; 
		border-bottom-left-radius: 0;
		background: var(--yellow);
	}

	.floff-linkcard .thumb {
		display: block;
		height: 8rem;
		width: 8rem;
		object-fit: cover;
	}
	
	.floff-linkcard .linkcard-main-part {
		flex: 1 0 auto;
		padding: 1rem;
		width: calc(100% - 8rem);
	}
		
	footer {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}
}
*/