@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit&display=swap');
:root {
	--padding: 1rem;

	--black: #32161f;
	--white: #f8f8f8;
	--yellow: #f7ee7f;
	--green: #87d68d;

	--default-background: #bcd3f2;
	--headers: #201e50;
	--default-text: var(--black);
	--default-font: "Kanit", sans-serif;

	--header-background: #80a4ed;

	--main-menu-background: var(--black); 
	--main-menu-text: var(--white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--default-text);
	background: var(--default-background);
	font-family: var(--default-font);
}

header {
	background: var(--header-background);
	color: var(--default-text);
	padding: var(--padding);
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

header h1 {
	width: 60rem;
	max-width: 100%;
	margin: auto;
	padding: 0 var(--padding);
}

body:has(.front-page) header a {
	text-decoration: none;
}
h1 {
	font-size: 2rem;
	color: var(--headers);
}

h2 {
	color: var(--headers);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h3 {
	color: var(--headers);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.front-page-info {
	text-align: center;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 1rem;
}
.front-page-info p:last-child {
	margin-bottom: 0;
}

.front-page .buttons {
	margin-bottom: 1rem;
}

.front-page .buttons button, .front-page .buttons .button {
	font: inherit;
	display: block;
	padding: .5rem;
	border-radius: .5rem;
}

.front-page h2, .front-page .centered {
	text-align: center;
}

.bot-grid h2 {
	margin-bottom: 0;
}

.bot-grid .view-all {
	text-align: center;
}

.bot-grid li img {
	display: block;
	width: 50px;
	height: 50px;
	object-fit: contain;
	border-radius: 25px;
}

.bot-grid article {
	margin-bottom: 1rem;
}

.bot-grid article .bluesky-post {
	margin-bottom: 0;
}
.bot-grid .show-source-button {
max-width: 37.5rem;
text-align: right;
margin: 0 auto 0;
}

.bot-grid .show-source-button button {
	width: initial;

}

.bot-list-element {
	margin-bottom: 1.5rem;
}
.bot-list-element .bluesky-post {
	width: 37.5rem;
	max-width: 100%;
	margin-bottom: 0;
}

.bot-list-meta {
	text-align: center;
}
.bot-list-meta p {
	margin-bottom: .5rem;
}

.bot-list-settings {
	margin-bottom: 1.5rem;
}

.bot-list-setting-sort {
	white-space: nowrap;
}

@media screen and (min-width: 800px) {
	.front-page .buttons, .front-page .front-page-columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	.preview {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.bot-list-element {
		display: flex;
		gap: .5rem;
	}
	.bot-list-meta {
		text-align: left;
	}

	.bot-list-settings {
		display: flex;
		gap: 1rem;
		align-items: flex-start;
	}
}

.front-page h2 {
	margin-top: 3rem;
}

a {
	color: var(--default-text);
}


main {
	width: 60rem;
	max-width: 100%;
	margin: 0 auto;
	padding: var(--padding);
}

main ul {
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

.back {
	text-align: center;
}

.back button {
	font: inherit;
	text-decoration: underline;
	border: none;
	background: transparent;
}

.create-bot {
	background: var(--yellow);
	padding: 1rem;
	margin-bottom: 2rem;
	border-radius: .5rem;
	border: solid 1px var(--black);	
	box-shadow: 1rem 1rem 1rem var(--black);
}

.create-bot h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
}

.create-bot h3 strong {
	font-style: normal;
}

.create-bot :first-child {
	margin-top: 0;
}

.create-bot form {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: dotted 1px var(--headers);
}

input, select {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
	border-radius: .25rem;
}

input[type=radio], input[type=checkbox] {
	display: inline;
	margin-bottom: 0;
	margin-right: 1rem;
	width: initial;
	padding: 0;
	border-radius: 0;
}

main button, main .button {
	font-size: 1rem;
	width: 100%;
	font: inherit;
	padding: .5rem;
	margin-top: var(--padding);
	background: var(--green);
	border-radius: .25rem;
	border: solid 1px var(--black);
	text-align: center;
	text-decoration: none;
}

main .less-attractive-button {
	background: var(--white);
}

main .big-red-button {
	background: #aa0000;
	color: var(--white);
	margin-bottom: 2rem;
}

main > :last-child {
	margin-bottom: 0;
}

main button.link, .back button {
	background: none;
	width: initial;
	padding: 0;
	margin: 0;
	margin-top: 0;
	font: inherit;
	border: none;
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

.proceed {
	text-align: right;
}

.proceed button:after {
	content: " »";
}

main .proceed button {
	width: initial;
}

.settings-heading {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	gap: 1rem;
}

.settings-heading h2 {
	margin: 0;
}
.settings-heading p {
	margin: 0;
}

.tracery-input textarea {
	display: block;
	width: 100%;
	height: 15rem;
	color: var(--default-text);
	padding: .5rem;
	resize: vertical;
	margin-bottom: 1rem;
}

.form-instructions {
	font-size: .9rem;
	border: solid 2px var(--header-background);
	padding: 1rem;
}

.form-instructions code {
	display: inline-block;
	padding: .25rem;
	border-radius: .25rem;
	color: var(--headers);
	background: var(--white);
	font-size: .9rem;
	font-weight: bold;
	border: solid 1px var(--green);
}

.floff {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	padding: 1rem;
}

.bluesky-post {
	background: #ffffff;
	color: rgb(11, 35, 20);
	border: solid 1px rgb(212, 219, 226);
	letter-spacing: 0px;
	font-size: 1.171875rem;
	line-height: 1.5rem;
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	padding: 1rem;
	font-variant: no-contextual;
	white-space: pre-wrap;
	border-radius: .75rem;
	max-width: 37.5rem;
	margin: 0 auto 1rem;
}

.bluesky-post-top-row {
	padding-bottom: .75rem;
	display: flex;
	flex-direction: row;
	gap: .75rem;
	align-items: stretch;
	flex-basis: auto;
	flex-shrink: 0;
}


.bluesky-post-avatar {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

.no-avatar {
	background: var(--green);
}

.bluesky-post-name-and-handle {
	display: flex;
	flex-direction: column;
}

.bluesky-post-name-and-handle p {
	margin: 0;
}

.bluesky-post-name {
	font-size: 1.0546875rem;
	font-weight: 600;
	color: rgb(11, 15, 20);
	line-height: 1.375rem;
}

.bluesky-post-name a, .bluesky-post-handle a {
	color: inherit;
	text-decoration: none;
}

.bluesky-post-handle {
	font-size: .9375rem;
	color: rgb(66, 87, 108);
	line-height: 1.25rem;
}

.bluesky-post-source-link {
	font-size: .9375rem;
	line-height: 1.25rem;
	font-weight: bold;
}

.bluesky-post-images {
	margin-top: .75rem;
	display: grid;
	gap: .25rem;
	grid-template-columns: 1fr 1fr;
	border-radius: .75rem;
	overflow: hidden;
}

.bluesky-post-images img, .bluesly-post-images svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bluesky-post-images .svg-box {
	overflow: auto;
}

.bluesky-post-images .svg-box svg {
	max-width: initial;
}

.bluesky-post-images article:first-child:nth-last-child(1) img, .bluesky-post-images article:first-child:nth-last-child(1) svg {
	border-radius: .75rem;
	width: initial;
	height: initial;
}


.bluesky-post-images:has(article:first-child:nth-last-child(1)) {
	grid-template-columns: 1fr;
}

.bluesky-post-images:has(article:first-child:nth-last-child(4)) {
	aspect-ratio: 1.5 / 1;
}

.bluesky-post-images:has(article:first-child:nth-last-child(3)), .bluesky-post-images:has(article:first-child:nth-last-child(2)) {
	aspect-ratio: 2/1;
}

.bluesky-post-images:has(article:first-child:nth-last-child(3)) article:first-child {
	grid-row-start: 1;
	grid-row-end: 3;	
}

.bluesky-post-images img, .bluesky-post-images svg {
	display: block;
	max-width: 100%;
}

.alt-texts {
	font-size: .8rem;
	margin-top: .5rem;
}

.alt-texts p {
	margin-bottom: .25rem;
}

.bluesky-post-date {
	margin-top: .5rem;
	font-size: .8203125rem;
	margin-bottom: 0;
}

.error {
	font-weight: bold;
	text-align: center;
	color: #aa0000;
	border: dashed 2px #aa0000;
	padding: .5rem;
	border-radius: .5rem;
	background: var(--white);
}

.error-text {
	color: #aa0000;
}

.updating {
	text-align: center;
	font-weight: bold;	
	line-height: 2rem;
	animation-name: pulsate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pulsate {
	0% {font-size: .8rem;}
	50% {font-size: 1.2rem;}
	100% {font-size: .8rem;}
}

.person {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.person .avatar {
	width: 7rem;
	margin-bottom: 0;
}

.person .avatar img {
	display: block;
	width: 7rem;
	height: 7rem;
	border: solid 1px #666666;
	border-radius: .5rem;
	
}

.person .main-part {
	flex-grow: 1;
}

.person .main-part h3, .person .main-part p {
	margin-top: 0;
	margin-bottom: .5rem;
}
.person .follow-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@media screen and (max-width: 800px) {
	.person {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.person .avatar {
		width: initial;
	}
	.person .avatar img {
		margin: 0 auto;
		width: 5rem;
		height: 5rem;
	}
	.follow-button {
		display: block;
		margin: 0;
	}
	.follow-button button {
		margin-top: 0;
	}
}

.source-code {
	white-space: pre-wrap;
	padding: 1rem;
	border: dotted 2px var(--headers);
	margin-top: 1rem;
}

footer {
	width: 60rem;
	max-width: 100%;
	margin: 3rem auto 0;
	padding: var(--padding);
	border-top: solid 1px var(--black);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

footer p {
	margin-bottom: 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
}

/*

.main-menu {
	background: var(--main-menu-background);
	color: var(--main-menu-text);
}

.hidden {
	display: none;
}

.main-menu ul {
	list-style-type: none;
}

.main-menu li {
	padding: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

.main-menu a {
	color: var(--white);
}

.menu-button {
	display: block;
	width: 100%;
	color: var(--white);
	background: var(--black);
	padding: 1rem;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: var(--default-font);
	border: none;
}

.hide-menu button {
	color: var(--white);
	background: var(--black);
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: var(--default-font);
	text-decoration: underline;
	border: none;
}

.menu-button.hidden {
	display: none;
}

.front-page p {
	margin-bottom: 3rem;
}

.wrapper > section {
	padding: var(--padding);
	margin-bottom: 2rem;
}

.main-content > section {
	margin-bottom: 2rem;
}

.result-box .article-wrapper {
	margin-bottom: var(--padding);
}

.result-box .article-meta {
	text-align: right;
	font-size: .8rem;
	font-style: italic;
	margin-top: .2rem;
	margin-right: var(--padding);
}

.result-box article {
	background: var(--yellow);
	color: var(--black);
	padding: var(--padding);
	border: solid 1px #808080;
	border-radius: var(--padding);
	white-space: pre-wrap;
}

dialog {
	margin: auto;
	min-width: 50%;
	padding: 1rem;
	background: var(--yellow);
	color: var(--black);
	border: none;
	box-shadow: 1rem 1rem 1rem var(--black);
	border-radius: var(--padding);
}

h2 {
	margin-bottom: var(--padding);
}

button {
	display: block;
	background: var(--green);

}

.load-posts {
	text-align: center;
	font-weight: bold;
	line-height: 2rem;
	animation-name: pulsate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pulsate {
	0% {font-size: .8rem;}
	50% {font-size: 1.2rem;}
	100% {font-size: .8rem;}
}

.floff {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	padding: 1rem;
}

.floff .reply-to {
	font-size: .8rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.floff-header {
	margin-bottom: 1rem;
}

.floff-author {
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.floff-author .floff-handle {
	font-size: .9rem;
	font-weight: normal;
	font-style: italic;
}

.floff .text {
	white-space: pre-wrap;
}

.floff-linkcard {
	border: solid 1px var(--black);
	margin-top: 2rem;
	width: 100%;
	max-width: 100%;
	border-bottom-left-radius: 1rem; 
	border-bottom-right-radius: 1rem; 
}

.floff-linkcard .thumb {
	display: block;
	height: 6rem;
	width: 100%;
	object-fit: cover;
}

.floff-linkcard .linkcard-main-part {
	padding: 1rem;
}

.floff-linkcard .linkcard-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}

.floff-linkcard .linkcard-desc {
	font-size: .9rem;
}

.floff-images {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	width: 100%;
	justify-content: center;
}

.floff-images a {
	display: block;
	flex-grow: 1;
	text-align: center;
}

.floff-images img {
	display: block;
	max-width: 100%;
	max-height: 25rem;
	margin: auto;
	border: solid 1px var(--black);
}

.floff .floff {
	background: var(--yellow);
	font-size: .9rem;
	margin-top: 2rem;
	box-shadow: .5rem .5rem .5rem var(--black);
}

.floff .floff .meta-buttons, .floff .floff .floff-images, .floff .floff .floff-linkcard {
	display: none;
}

.floff .floff-date, .floff .floff-date a {
	font-style: italic;
	font-weight: bold;
	font-size: .9rem;
	margin-bottom: .5rem;
}

.floff .meta-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	gap: 1rem; 
}

.floff .meta-buttons > div {
	flex: 1 0 auto;
	text-align: center;
}

.floff .meta-buttons button {
	width: initial;
	margin: auto;
	margin-top: .5rem;
	border-radius: .5rem;
}

footer {
	width: 60rem;
	max-width: 100%;
	margin: auto;
	padding: 3rem var(--padding) 1rem;
	text-align: center;
}

footer a {
	display: block;
}

dialog label, .favstar-input label {
	display: block;
	margin-bottom: .5rem;
}


dialog button, .favstar-input button {
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
}

.error {
	font-weight: bold;
	text-align: center;
	color: #aa0000;
}

@media screen and (min-width: 800px) {
	.main-menu {
		display: block;
		background: var(--main-menu-background);
		color: var(--main-menu-text);
	}

	.main-menu ul {
		display: flex;	
	}

	.menu-button, .hide-menu {
		display: none;
	}

	.floff-header {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	.floff-linkcard {
		display: flex;
		border-top-right-radius: 1rem; 
		border-bottom-right-radius: 1rem; 
		border-bottom-left-radius: 0;
		background: var(--yellow);
	}

	.floff-linkcard .thumb {
		display: block;
		height: 8rem;
		width: 8rem;
		object-fit: cover;
	}
	
	.floff-linkcard .linkcard-main-part {
		flex: 1 0 auto;
		padding: 1rem;
		width: calc(100% - 8rem);
	}
		
	footer {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}
}
*/