@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit&display=swap');
:root {
	--padding: 1rem;

	--black: #32161f;
	--white: #f8f8f8;
	--yellow: #f7ee7f;
	--green: #87d68d;

	--default-background: #bcd3f2;
	--headers: #201e50;
	--default-text: var(--black);
	--default-font: "Kanit", sans-serif;

	--header-background: #80a4ed;

	--main-menu-background: var(--black); 
	--main-menu-text: var(--white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--default-text);
	background: var(--default-background);
	font-family: var(--default-font);
}

.main-menu {
	background: var(--black);
	color: var(--white);
	position: sticky;
	top: 0;
}

.main-menu .open-menu-button {
	display: none;
}

.main-menu ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.main-menu a {
	display: block;
	padding: .5rem 1rem;
	color: var(--white);
	text-transform: uppercase;
	text-decoration: none;
}

.main-menu a.active {
	color: var(--green);
}

.main-menu a:hover {
	background-color: var(--default-background);
	color: var(--black);
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	.main-menu .open-menu-button {
		display: block;
		background: transparent;
		color: var(--white);
		font: inherit;
		font-size: 1rem;
		width: 2rem;
		height: 2rem;
		padding: 0;
		border: none;
		position: absolute;
		top: .5rem;
		right: .5rem;
	}
	
	.main-menu:has(.menu-hidden) {
		position: absolute;
		top: .5rem;
		right: .5rem;
	}

	.main-menu:has(.menu-hidden) .open-menu-button {
		position: static;
	}

	.main-menu ul.menu-hidden {
		display: none;
	}	

	.main-menu .menu-visible {
		flex-direction: column;
	}

}

header {
	background: var(--header-background);
	color: var(--default-text);
	padding: var(--padding);
	min-height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
	text-align: center;
}

header h1 {
	width: 60rem;
	max-width: 100%;
	margin: auto;
	padding: 0 var(--padding);
}

body:has(.front-page) header a {
	text-decoration: none;
}
h1 {
	font-size: 2rem;
	color: var(--headers);
}

h2 {
	color: var(--headers);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h3 {
	color: var(--headers);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.front-page-info {
	text-align: center;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 1rem;
}
.front-page-info p:last-child {
	margin-bottom: 0;
}

.front-page .buttons {
	margin-bottom: 1rem;
}

.front-page .buttons button, .front-page .buttons .button {
	font: inherit;
	display: block;
	padding: .5rem;
	border-radius: .5rem;
}

.front-page h2, .front-page .centered {
	text-align: center;
}

.bot-grid h2 {
	margin-bottom: 0;
}

.bot-grid .view-all {
	text-align: center;
}

.bot-grid li img {
	display: block;
	width: 50px;
	height: 50px;
	object-fit: contain;
	border-radius: 25px;
}

.bot-grid article {
	margin-bottom: 1rem;
}

.bot-grid article .bluesky-post {
	margin-bottom: 0;
}
.bot-grid .show-source-button {
max-width: 37.5rem;
text-align: right;
margin: 0 auto 0;
}

.bot-grid .show-source-button button {
	width: initial;

}

.bot-list-element {
	margin-bottom: 1.5rem;
}
.bot-list-element .bluesky-post {
	width: 37.5rem;
	max-width: 100%;
	margin-bottom: 0;
}

.bot-list-meta {
	text-align: center;
}
.bot-list-meta p {
	margin-bottom: .5rem;
}

.bot-list-settings {
	margin-bottom: 1.5rem;
}

.bot-list-setting-sort {
	white-space: nowrap;
}

@media screen and (min-width: 800px) {
	.front-page .buttons, .front-page .front-page-columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	.preview {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.bot-list-element {
		display: flex;
		gap: .5rem;
	}
	.bot-list-meta {
		text-align: left;
	}

	.bot-list-settings {
		display: flex;
		gap: 1rem;
		align-items: flex-start;
	}
}

.front-page h2 {
	margin-top: 3rem;
}

a {
	color: var(--default-text);
}


main {
	width: 60rem;
	max-width: 100%;
	margin: 0 auto;
	padding: var(--padding);
}

main ul {
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

.back {
	text-align: center;
}

.back button {
	font: inherit;
	text-decoration: underline;
	border: none;
	background: transparent;
}

.create-bot {
	background: var(--yellow);
	padding: 1rem;
	margin-bottom: 2rem;
	border-radius: .5rem;
	border: solid 1px var(--black);	
	box-shadow: 1rem 1rem 1rem var(--black);
}

.create-bot h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
}

.create-bot h3 strong {
	font-style: normal;
}

.create-bot :first-child {
	margin-top: 0;
}

.create-bot form {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: dotted 1px var(--headers);
}

input, select {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	width: 100%;
	font-family: var(--default-font);
	padding: .5rem;
	border-radius: .25rem;
}

input[type=radio], input[type=checkbox] {
	display: inline;
	margin-bottom: 0;
	margin-right: 1rem;
	width: initial;
	padding: 0;
	border-radius: 0;
}

main button, main .button {
	font-size: 1rem;
	width: 100%;
	font: inherit;
	padding: .5rem;
	margin-top: var(--padding);
	background: var(--green);
	border-radius: .25rem;
	border: solid 1px var(--black);
	text-align: center;
	text-decoration: none;
}

main .less-attractive-button {
	background: var(--white);
}

main .big-red-button {
	background: #aa0000;
	color: var(--white);
	margin-bottom: 2rem;
}

main > :last-child {
	margin-bottom: 0;
}

main button.link, .back button {
	background: none;
	width: initial;
	padding: 0;
	margin: 0;
	margin-top: 0;
	font: inherit;
	border: none;
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

.proceed {
	text-align: right;
}

.proceed button:after {
	content: " »";
}

main .proceed button {
	width: initial;
}

.settings-heading {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	gap: 1rem;
}

.settings-heading h2 {
	margin: 0;
}
.settings-heading p {
	margin: 0;
}

.edit-bot h3 {
	font-size: 2rem;
}

.edit-form-section {
	background: var(--white);
	padding: 1rem;
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.edit-form-section h3:first-child {
	margin-top: 0;
}

.edit-form-section > :last-child {
	margin-bottom: 0;
}

.edit-form-section h4 {
	font-size: 1.25rem;	
}

.button-description {
	margin-top: .5rem;
	font-size: 90%;
}

.tracery-mode-tags {
	display: flex;
	gap: .5rem;
	margin-left: 1rem;
	position: relative;
}

.tracery-mode-tags button, .tracery-mode-tags a {
	width: initial;
	background-color: var(--white);
	font-size: .8rem;
	padding: .25rem .5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-top: 0;
}

.tracery-mode-tags button.json-button {
	color: var(--white);
	background: var(--black);
}

.tracery-mode-tags button.replies-button {
	background: var(--yellow);
}

.tracery-mode-tags button.cog-button {
	border: none;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
}

.tracery-mode-tags a.help-button {
	display: block;
	border: none;
	background: transparent;
	position: absolute;
	top: 0;
	right: 2rem;
}

.tracery-mode-tags button.wysiwyg-button.button-not-active {
	color: #aa0000;
}

.tracery-mode-tags button.active {
	border-bottom: none;
}

.tracery-mode-tags .mode-settings {
	background: var(--white);
	min-width: 15rem;
	position: absolute;
	top: 1.5rem;
	right: .25rem;
	z-index: 30;
	border: solid 1px var(--black);
	box-shadow: .25rem .25rem .25rem var(--black);
	
}

.tracery-mode-tags .mode-settings article, .tracery-mode-tags .mode-settings h4 {
	margin: 0;
	padding: .25rem .5rem;
}

.tracery-mode-tags .mode-settings h4 {
	background: var(--header-background);
	font-size: 1rem;
	border-bottom: solid 1px var(--black);
}

.tracery-mode-tags .mode-settings h4:not(:first-child) {
	border-top: solid 1px var(--black);
	margin-top: 1rem;
}

.tracery-mode-tags .mode-settings input[type=radio] {
	margin-right: .5rem;
}

.tracery-mode-tags .mode-settings label {
	display: block;
}

.tracery-mode-tags .mode-settings article:has(input:checked) {
	background: var(--yellow);
}

.reply-form {
	background: var(--yellow);
	padding: 1rem;
}

.reply-form .instructions {
	font-size: .8rem;
	text-align: right;
}

.reply-form > :last-child {
	margin-bottom: 0;
}

.reply-rule {
	border: dotted 1px var(--headers);
	padding: .5rem;
	border-radius: .5rem;
	margin-bottom: 1rem;
	background: var(--white);
}

.reply-rule p, .reply-rule input {
	margin-bottom: 0;
}

.reply-rule:has(.reply-rule-key input[value=""]) {
	font-style: italic;
}

.reply-error {
	color: #aa0000;
	font-size: .9rem;
	font-weight: bold;
}

@media screen and (min-width: 800px) {
	.reply-rule {
		display: flex;
		gap: 1rem;
	}

	.reply-rule-key {
		width: 30%;
	}

	.reply-rule-value {
		width: calc(70% - 1rem);
	}
}

fieldset {
	border: none;
	margin-bottom: 1rem;
}
fieldset p {
	margin: .25rem 0;
}

.help {
	background: rgba(255, 255, 255, .5);
	border-radius: .5rem;
}

.help h2 {
	font-size: 3rem;
	margin-top: 0;
}

.help code {
	background: var(--white);
}

.help .help-highlighting code, .help .highlighting code {
	background: initial;
}

.help-highlighting {
	width: 100%;
	display: block;
	font-family: monospace;
	font-weight: bold;
	font-size: .8rem;
	line-height: 1rem;
	padding: .5rem;
	tab-size: 4;
	border: none;
	overflow: auto;
	white-space: pre-wrap;
	scrollbar-gutter: stable;
	background: var(--black);
	color: var(--white);
	margin-bottom: 1rem;
}


.highlighting-container {
	position: relative;
	height: 20rem;
	margin-bottom: 1rem;
}

.highlighting, .highlighting-textarea {
	height: 20rem;
	max-height: 20rem;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-family: monospace;
	font-weight: bold;
	font-size: .8rem;
	line-height: 1rem;
	padding: .5rem;
	tab-size: 4;
	border: none;
	overflow: auto;
	white-space: pre-wrap;
	scrollbar-gutter: stable;
}

.highlighting-textarea:focus {
	outline: none;
}
.wysiwyg {
	background: var(--white);
	padding: 1rem;
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin-top: -1px;
	margin-bottom: 1rem;
}

.json-textarea {
	margin-top: -1px;
}

.wysiwyg .highlighting-container {
	height: 15rem;
	border: solid 1px var(--black);
	border-radius: .25rem;
	background: var(--black);
	overflow: hidden;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: .5rem;
}
.wysiwyg .highlighting, .wysiwyg .highlighting-textarea {
	height: 15rem;
	max-height: 15rem;
}

.wysiwyg-parent {
	display: block;
	background-color: var(--header-background);
	width: fit-content;
	margin-top: 0;
	margin-bottom: .5rem;
	padding: .25rem .5rem;
	text-align: left;
}

.wysiwyg [data-level="1"] {
	margin-left: .5rem;
}
.wysiwyg [data-level="2"] {
	margin-left: 1rem;
}
.wysiwyg [data-level="3"] {
	margin-left: 1.5rem;
}
.wysiwyg [data-level="4"] {
	margin-left: 2rem;
}

.wysiwyg-button-bar {
	background: var(--header-background);

	color: var(--black);
	padding: .25rem .5rem;
	height: 2rem;
	font-size: 1rem;
	border: solid 1px var(--black);
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.wysiwyg-instructions p {
	font-size: .9rem;
	margin-top: .5rem;
	margin-bottom: 0;
}

.wysiwyg .highlighting-textarea {
	caret-color: var(--white);

}
.highlighting {
	background: var(--black);
	color: #ff0000;
	overflow: hidden;
	z-index: 0;
}
.do-not-highlight .highlighting {
	color: var(--white);
}

.wysiwyg .highlighting {
	background: transparent;
	color: var(--white);
}

.highlighting-textarea {
	color: transparent;
	background-color: transparent;
	caret-color: var(--green);
	z-index: 1;
	resize: none;
}

.do-not-highlight .highlighting-textarea {
	color: var(--white);
	background-color: var(--black);
}

.highlighting .hljs-punctuation {
	color: var(--green);
}
.highlighting .hljs-attr {
	color: var(--header-background);
}

.highlighting .hljs-string {
	color: var(--white);
}

.highlighting .highlight-tag, .help-highlighting .highlight-tag {
	color: var(--green);
}

.wysiwyg .highlighting .highlight-tag {
	text-decoration: underline dotted;
}

.highlighting .highlight-punctuation, .help-highlighting .highlight-punctuation {
	color: var(--header-background);
}

.highlighting .highlight-key, .help-highlighting .highlight-key {
	color: var(--yellow);
}

.highlighting .highlight-text, .help-highlighting .highlight-text {
	color: var(--white);
}

.highlighting .highlight-bracket, .help-highlighting .highlight-bracket {
	color: var(--header-background);
}

.wysiwyg-tag-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.wysiwyg-tag-buttons button {
	width: initial;
	margin-top: 0;
	padding: .25rem .5rem;
	font-size: 1rem;
}

.wysiwyg-tag-buttons .new-rule-button {
	background: var(--white);
	color: #aa0000;
	border: solid 1px #aa0000;
	text-decoration: underline;
}

.form-instructions {
	font-size: .9rem;
	border: solid 2px var(--header-background);
	padding: 1rem;
}

.form-instructions code {
	display: inline-block;
	padding: .25rem;
	border-radius: .25rem;
	color: var(--headers);
	background: var(--white);
	font-size: .9rem;
	font-weight: bold;
	border: solid 1px var(--green);
}

.floff {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	padding: 1rem;
}

.bluesky-post {
	background: #ffffff;
	color: rgb(11, 35, 20);
	border: solid 1px rgb(212, 219, 226);
	letter-spacing: 0px;
	font-size: 1.171875rem;
	line-height: 1.5rem;
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	padding: 1rem;
	font-variant: no-contextual;
	white-space: pre-wrap;
	border-radius: .75rem;
	max-width: 37.5rem;
	margin: 0 auto 1rem;
}

.bluesky-post-top-row {
	padding-bottom: .75rem;
	display: flex;
	flex-direction: row;
	gap: .75rem;
	align-items: stretch;
	flex-basis: auto;
	flex-shrink: 0;
}


.bluesky-post-avatar {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

.no-avatar {
	background: var(--green);
}

.bluesky-post-name-and-handle {
	display: flex;
	flex-direction: column;
}

.bluesky-post-name-and-handle p {
	margin: 0;
}

.bluesky-post-name {
	font-size: 1.0546875rem;
	font-weight: 600;
	color: rgb(11, 15, 20);
	line-height: 1.375rem;
}

.bluesky-post-name a, .bluesky-post-handle a {
	color: inherit;
	text-decoration: none;
}

.bluesky-post-handle {
	font-size: .9375rem;
	color: rgb(66, 87, 108);
	line-height: 1.25rem;
}

.bluesky-post-source-link {
	font-size: .9375rem;
	line-height: 1.25rem;
	font-weight: bold;
}

.bluesky-post-images {
	margin-top: .75rem;
	display: grid;
	gap: .25rem;
	grid-template-columns: 1fr 1fr;
	border-radius: .75rem;
	overflow: hidden;
}

.blurred-images img {
	filter:blur(2rem);
}

.bluesky-post-images img, .bluesly-post-images svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bluesky-post-images .svg-box {
	overflow: auto;
	font: initial;
}

.bluesky-post-images .svg-box svg {
	max-width: initial;
}

.bluesky-post-images article:first-child:nth-last-child(1) img, .bluesky-post-images article:first-child:nth-last-child(1) svg {
	border-radius: .75rem;
	width: initial;
	height: initial;
}


.bluesky-post-images:has(article:first-child:nth-last-child(1)) {
	grid-template-columns: 1fr;
}

.bluesky-post-images:has(article:first-child:nth-last-child(4)) {
	aspect-ratio: 1.5 / 1;
}

.bluesky-post-images:has(article:first-child:nth-last-child(3)), .bluesky-post-images:has(article:first-child:nth-last-child(2)) {
	aspect-ratio: 2/1;
}

.bluesky-post-images:has(article:first-child:nth-last-child(3)) article:first-child {
	grid-row-start: 1;
	grid-row-end: 3;	
}

.bluesky-post-images img, .bluesky-post-images svg {
	display: block;
	max-width: 100%;
}

.alt-texts {
	font-size: .8rem;
	margin-top: .5rem;
}

.alt-texts p {
	margin-bottom: .25rem;
}

.bluesky-post-date {
	margin-top: .5rem;
	font-size: .8203125rem;
	margin-bottom: 0;
}

.error {
	font-weight: bold;
	text-align: center;
	color: #aa0000;
	border: dashed 2px #aa0000;
	padding: .5rem;
	border-radius: .5rem;
	background: var(--white);
}

.error-text {
	color: #aa0000;
}

.updating {
	text-align: center;
	font-weight: bold;	
	line-height: 2rem;
	animation-name: pulsate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pulsate {
	0% {font-size: .8rem;}
	50% {font-size: 1.2rem;}
	100% {font-size: .8rem;}
}

.person {
	background: var(--white);
	border: solid 1px var(--black);
	border-radius: .5rem;
	margin: 0 auto 1rem;
	box-shadow: 1rem 1rem 1rem var(--black);
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.person .avatar {
	width: 7rem;
	margin-bottom: 0;
}

.person .avatar img {
	display: block;
	width: 7rem;
	height: 7rem;
	border: solid 1px #666666;
	border-radius: .5rem;
	
}

.person .main-part {
	flex-grow: 1;
}

.person .main-part h3, .person .main-part p {
	margin-top: 0;
	margin-bottom: .5rem;
}
.person .follow-button {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@media screen and (max-width: 800px) {
	.person {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.person .avatar {
		width: initial;
	}
	.person .avatar img {
		margin: 0 auto;
		width: 5rem;
		height: 5rem;
	}
	.follow-button {
		display: block;
		margin: 0;
	}
	.follow-button button {
		margin-top: 0;
	}
}

.source-code {
	white-space: pre-wrap;
	padding: 1rem;
	border: dotted 2px var(--headers);
	margin-top: 1rem;
}

footer {
	width: 60rem;
	max-width: 100%;
	margin: 3rem auto 0;
	padding: var(--padding);
	border-top: solid 1px var(--black);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

body:has(main.help) footer {
	border-top: none;
	margin-top: 0;
}

footer p {
	margin-bottom: 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
}
